input {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
div {
  text-align: center;
  margin: 1em;
  font-size: 1.25em;
}
#instructions {
  margin-top: 15vh;
}
body {
}